name: Android CI

on:
  push:
    #On every push and on any branch
    branches:
      - '**'
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    #Updated name and version to 17
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Check for Duplicate IDs
      run: python3 id_checker.py

    - name: Build with Gradle
      run: ./gradlew build
